[user]
	email = adrien@sorare.com
	name = Adrien Montfort
	signingkey = DE5C8CE2
[credential]
	helper = osxkeychain
[core]
	editor = vim
	excludesfile = /Users/adrien/.gitignore
[push]
	default = simple
[branch]
	autosetuprebase = always
[diff]
	tool = opendiff
[github]
	user = such
[commit]
	gpgsign = false
